body {
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 0%;
        background-image: url("https://th.bing.com/th/id/R.504cb1bd35f0a5d5cd17ffd9209928f1?rik=PnZP3h69Tc2ZDw&pid=ImgRaw&r=0&sres=1&sresct=1");
        background-repeat: no-repeat;
        background-size: cover;
        width: center;
        border-radius: 50px;
        padding-right: 50px;
        padding-left: 50px;
}

    #velocidade {
        color: white;
        /* box-shadow: 1px 0px 10px black; */
        padding: 5px;
        width: 150px;
        border-radius: 10px;
    }

    #verificar {
        box-shadow: 1px 0px 10px #000;
        padding: 5px;
        border-radius: 10px;
        font-family: arial black;
    }

    #carro, h1 {
        font-family: georgia black;
        font-style: italic;
    }

    #quilometros {
        font-family: arial black;
        font-style: oblique ;
    }

    #vResultado {
        font-family: Cambria  ;
    }